*~
*.riscv
*.host
*.o
*.dump
*.out
*.hex
.*.swp
*.pyc
/autom4te.cache
/Makefile
/config.log
/config.status
/build
configure 
benchmarks/tmp/
benchmarks/bin
benchmarks/lib
benchmarks/lib32
benchmarks/lib64
benchmarks/libx32
benchmarks/sbin
benchmarks/var