### General configuration ####################################################
system.name       = Addi example
system.config     = ${cfg}

system.throttle.rtf = 0
system.core.trace = 0
system.core2.trace = 0

# Specify simulation duration. Simulation will stop automatically once this
# time-stamp is reached. Use integer values with suffixes s, ms, us or ns. If
# you want to simulate infinitely, leave this commented out.
#  system.duration = 2s

# TLM global quantum, a higher value improves performance but reduces timing
# accuracy. Use integer values with suffixes s, ms, us or ns.
# 100 instructions on a call of simulate (1 instr = 1 clk cycle)
system.quantum = 1000ns
system.duration = 50000000000000ns # --> 1k instructions --> 1ns/instr
system.core.async = true
system.core2.async = true
# Clock frequency
system.clk_cpu.hz = 1000000000 # 1 GHz

### CPU configuration ########################################################


# Memory configuration
system.core.elf     = ${dir}/dhrystone_core0.elf
system.core.symbols = ${dir}/dhrystone_core0.elf
system.core.pc      = 0x80000000
# system.core.async_rate = 1
system.core.verbose = false 

# --- KERN 1 ---
system.core2.elf     = ${dir}/dhrystone_core1.elf
system.core2.symbols = ${dir}/dhrystone_core1.elf
system.core2.pc      = 0x80010000    # <--- WICHTIG: Die neue Startadresse!
system.core2.verbose = false
# system.core2.async_rate = 1
system.multicore_simdev.write_to_file = false

#system.ram.size     = 0x10000000    # 256MB
#system.ram.images = ${dir}/singlecore.elf@0x00000000
system.loader.images = ${dir}/dhrystone_core0.elf ${dir}/dhrystone_core1.elf

# Terminal configuration
system.term0.backends  = stdout # stdout|file|tap|null